body{

    background-color: rgb(193, 218, 253);

}

.Parent{

    display: grid;
    grid-template-columns: repeat(17, 1fr);
    width: 1200px;
    margin: auto;
    margin-top: 10vh;

}

.box{

    background-color: black;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.horse p{

    display: inline-block;

}

.stang{

    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    display: none;

}

.active > .stang{
    display: block;
}

.buttonParent{

    display: block;
    margin: auto;
    width: fit-content;
    margin-top: 5vh;

}

.buttonParent > a{

    padding: 10px 20px;
    color:aliceblue;
    background-color: black;
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 20px;
    border-radius: 4px;

}

.title{

    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;

}